<ion-view view-title="校园生活助手">
    <ion-content overflow-scroll="true" has-bouncing="false" delegate-handle="small">
        <ion-slide-box does-continue="true" slide-interval="5000" auto-play="true">
            <ion-slide>
                <div class="box main-nav-container spring">

                </div>
            </ion-slide>
            <ion-slide>
                <div class="box main-nav-container summer">

                </div>
            </ion-slide>
            <ion-slide>
                <div class="box main-nav-container autumn">

                </div>
            </ion-slide>

            <ion-slide>
                <div class="box main-nav-container winter">

                </div>
            </ion-slide>
        </ion-slide-box>

        <!--一行-->
        <div class="row">

            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.classroom">
                        <div>
                            <span class="icon-classroom main-item-icon"></span>
                            <span class="main-desc main-desc-only">教室查询</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.schedule">
                        <div>
                            <span class="icon-schedule main-item-icon"></span>
                            <span class="main-desc main-desc-only">课表查询</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.exam">
                        <div>
                            <span class="icon-exam main-item-icon"></span>
                            <span class="main-desc main-desc-only">考试查询</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.textbook">
                        <div>
                            <span class="icon-textbook main-item-icon"></span>
                            <span class="main-desc main-desc-only">教师查询</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--二行-->
        <div class="row">
            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.inform">
                        <div>
                            <span class="icon-inform main-item-icon"></span>
                            <span class="main-desc main-desc-only">通知公告</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.calendar">
                        <div>
                            <span class="-icon-calendar main-item-icon"></span>
                            <span class="main-desc main-desc-only">校历查询</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.grade">
                        <div>
                            <span class="icon-grade main-item-icon"></span>
                            <span class="main-desc main-desc-only">成绩查询</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.telephone">
                        <div>
                            <span class="icon-telephone main-item-icon"></span>
                            <span class="main-desc main-desc-only">电话查询</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--三行-->
        <div class="row">
            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.library">
                        <div>
                            <span class="icon-library main-item-icon"></span>
                            <span class="main-desc main-desc-only">图书查询</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.card">
                        <div>
                            <span class="icon-card main-item-icon"></span>
                            <span class="main-desc main-desc-only">一卡通</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.market">
                        <div>
                            <span class="icon-market main-item-icon"></span>
                            <span class="main-desc main-desc-only">跳蚤市场</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.file">
                        <div>

                            <span class="icon-file main-item-icon"></span>
                            <span class="main-desc main-desc-only">文件概览</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--四行-->
        <div class="row">
            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.map">
                        <div>
                            <span class="icon-map main-item-icon"></span>
                            <span class="main-desc main-desc-only">校内地图</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.bus">
                        <div>
                            <span class="icon-bus main-item-icon"></span>
                            <span class="main-desc main-desc-only">校车查询</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.online">
                        <div>
                            <span class="icon-e-learning main-item-icon"></span>
                            <span class="main-desc main-desc-only">智慧课堂</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-25">
                <div class="main-flex-container">
                    <div class="main-item" ui-sref="app.feedback">
                        <div>
                            <span class="icon-feedback main-item-icon"></span>
                            <span class="main-desc main-desc-only">信息反馈</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>