<ion-view view-title="学校常用联系方式列表">
    <ion-content overflow-scroll="true" has-bouncing="false" ng-init="init()">
        <ion-item class="item-divider">
            <sapn>土木工程学院</sapn>
        </ion-item>
        <ion-item>
            学工部:15184406336
        </ion-item>
        <ion-item>
            党政办:15184406336
        </ion-item>
        <ion-item>
            行政班:15184406336
        </ion-item>

        <ion-item class="item-divider">
            <sapn>建筑学院</sapn>
        </ion-item>
        <ion-item>
            学工部:15184406336
        </ion-item>
        <ion-item>
            党政办:15184406336
        </ion-item>
        <ion-item>
            行政班:15184406336
        </ion-item>


        <ion-item class="item-divider">
            <sapn>环境与市政工程学院</sapn>
        </ion-item>
        <ion-item>
            学工部:15184406336
        </ion-item>
        <ion-item>
            党政办:15184406336
        </ion-item>
        <ion-item>
            行政班:15184406336
        </ion-item>


        <ion-item class="item-divider">
            <sapn>机械工程学院</sapn>
        </ion-item>
        <ion-item>
            学工部:15184406336
        </ion-item>
        <ion-item>
            党政办:15184406336
        </ion-item>
        <ion-item>
            行政班:15184406336
        </ion-item>


        <ion-item class="item-divider">
            <sapn>汽车与交通学院</sapn>
        </ion-item>
        <ion-item>
            学工部:15184406336
        </ion-item>
        <ion-item>
            党政办:15184406336
        </ion-item>
        <ion-item>
            行政班:15184406336
        </ion-item>


        <ion-item class="item-divider">
            <sapn>自动化工程学院</sapn>
        </ion-item>
        <ion-item>
            院长:15184406336
        </ion-item>
        <ion-item>
            党政办:15184406336
        </ion-item>
        <ion-item>
            行政办公室:15184406336
        </ion-item>
    </ion-content>
</ion-view>